// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: pink;
  text-align: center;
}

.link{
text-decoration: none;
color: rgb(255, 0, 0);
font-size: larger;
}

:answer{

}
